@import url(components/container.css);
@import url(components/helpers.css);
@import url(components/typography.css);

* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, system-ui;
    margin: 0;
}

input, textarea, button, select {
    font: inherit;
}