:root {
    --primary: #f2d544;
    --dark-blue: #130c24;
    --black: #233030;
    --gray: #999999;
    --beige: #f5f5f1;
    --gap: 80px;
    --text-color: white;
    --light-icon: white;
    --gray-dark: #666666;
    --dark-icon: var(--black);
    --anchor-color: var(--primary);
}

* {
    box-sizing: border-box;
}

html.light-theme {
    background-color: var(--beige);
    --text-color: var(--black);
    --gray-light: var(--gray-dark);
    --light-icon: var(--black);
    --dark-icon: white;
    --anchor-color: var(--black);
}

html {
    background-color: var(--dark-blue);
    color: var(--text-color);
}

body {
    font-family: Poppins, system-ui;
    margin: 0;
}

input, textarea, button, select {
    font: inherit;
}


::selection {
    background-color: var(--primary);
    color: var(--black);
}

@media (max-width: 37.5rem) {
    :root {
        --gap: 30px;
    }
    html {
        scroll-behavior: smooth;
    }
}
