.btn {
    all: unset;
    box-sizing: border-box;
    outline: revert;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.88rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 2px;
    transition: translate 180ms, opacity 180ms;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    translate: 1px 1px;
}